#quoteInfo {
  background-color: rgb(95, 179, 248);
  width: 100%;
  align-content: center;
  align-items: center;
}
.container {
  width: 100%;
}
.clickVote {
  align-content: left;
  background-color: brown;
  color: white;
}
.delete {
  background-color: black;
  color: white;
}
#quotesPage {
  width: 100%;
}
#quotesTitle {
  text-align: center;
  color: purple;
}
body {
  background-color: blanchedalmond;
  margin-left: 0px;
  margin-right: 0px;
}


