<div class="container">
  <div class="row" id="quotesPage">
    <div class="col-md-6" id="quoteInfo">
        <h1 id="quotesTitle">Quotes</h1>
        <p>Welcome to the Quotes page where you can post a quote and people Upvote or Downvote it. You will then have the option to delete quotes that are not inspirational to viewers</p>

        <h4>Here are the registered quotes</h4>
        <ul>
          <div *ngFor= 'let quote of quotes; let i=index'>
            <li>Quote by: {{quote.author}}</li>

            <button (click)='toggleDetails (i)'>Show Quote Details</button>

            <app-quote-statement *ngIf="quote.showQuote" [quote]='quote'></app-quote-statement>

            <div class="voting">
                <div>
                    <button class="clickVote" onclick="myFunction()"><strong>Upvote +</strong></button>
                <div class="increment up"></div>
                </div>
                <div>
                    <button class="clickVote" onclick="myFunction()"><strong>Downvote -</strong></button>
                <div class="increment down"></div>
                </div>

                 <div class="count"><strong>0</strong></div>
            </div>
            <div class="deleteQuot">
                <button class="delete" onclick="deleteQuote()"><strong>Delete Quote</strong></button>
            </div>
          </div>
        </ul>
    </div>
    <div class="col-md-6" id="quote-form">
        <app-quote-forms (addQuote)="addNewQuote($event)"></app-quote-forms>
    </div>
  </div>
</div>
